#main-body {
    text-align: center;
    padding: 20px;
}
#body2 {
    margin-top: 0.5%;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    display: flex;
}
#s1 { 
    display: inline-block; 
    position: absolute; 
    top: 180; 
    left: 0; 
    z-index: -1; 
}
#s2 { 
    display: inline-block; 
    position: absolute; 
    top: 640; 
    left: 0; 
    z-index: -1; 
}
.body-cards {
    width: 400px;
    height: 350px;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    float: left;
    margin-right: 2em;
    box-shadow: 5px 5px 15px 3px #1f1e1e;
}
.body-cards:hover {
    transform: scale(1.05);
}
.card-p {
    font-size: 1vw;;
}
.card-h {
    font-weight: bold;
    color: #00c5f6;
}
@media only screen and (min-width:px) and (max-width:1024px) {

}