<head>
    <!-- Web Title -->
    <title>Greench - Dashboard</title>
    <!-- Metas -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta Embeds -->
    <meta name="description" content="Official Website for the Greench-Pre Alpha">
    <meta name="author" content="TheGreench">
    <meta property="og:title" content="Greench - Dashboard">
    <meta property="og:description" content="Official Website for the Greench-Pre Alpha">
    <meta property="og:url" content="none">
    <meta name="title" content="Greench - Dashboard">
    <meta name="url" content="none">
    <meta name="theme-color" content="#F20B72">
    <!-- Links -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" 
    crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css2?family=Cairo:wght@600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="//images-ext-2.discordapp.net/external/FV6QZpNS7_FaQTfmdRbOu2AdAdxGBnIoCxx428XfkSI/https/cdn.discordapp.com/avatars/717709652409712690/f43227f6e054e71af088ba117cd80a95.webp?width=102&height=102">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/topNav.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <!-- Scripts -->
    <script src="//kit.fontawesome.com/a076d05399.js"></script>
</head>