<div id="container-topNavBar">
    <nav class="navbar navbar-expand-lg container" id="topNavBar">
        <a class="navbar-brand" href="#">Greench Pre-Alpha&nbsp;&nbsp;<span id="brand-sep">&nbsp;</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                &nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="/invite">
                        <i class="fas fa-plus"></i>&nbsp; Invite Me
                    </a>
                </li>
                &nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-exclamation-circle"></i>&nbsp; Disclaimer
                    </a>
                </li>
                &nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="/discord">
                        <i class="fab fa-discord"></i>&nbsp; Discord
                    </a>
                </li>
                &nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard" id="active">
                        <i class="fas fa-cogs"></i>&nbsp; Dashboard
                    </a>
                </li>
            </ul>
            <!-- <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><i class="fas fa-sign-in-alt"></i>&nbsp;Alpha Test</button> -->
            &nbsp;&nbsp;
            <form class="form-inline my-2 my-lg-0" action="/dashboard/profile">
                <button class="btn btn-outline-success my-2 my-sm-0" style="color: white !important;" id="topNavButton">
                    <%= username %>
                    <span style="color: #00c5f6;">#<%= discriminator %></span>
                </button>
            </form>
            &nbsp;&nbsp;
            <form class="form-inline my-2 my-lg-0" action="/auth/logout">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" id="topNavButtonTwo"><i class="fas fa-sign-in-alt"></i>&nbsp;LOGOUT</button>
            </form>
        </div>
    </nav>
</div>