<%- include('partials/header') -%>
<link rel="stylesheet" href="/stylesheets/dashboard.css">

<body>
    <!-- Main Container-->
    <div id="main-container">
        <!-- Navbar -->
        <%- include('partials/nav') -%>

        <!-- Body -->
        <div id="body" class="container">
            <div class="dash-header">
                    <h1>Welcome to the Dashboard!</h1>
            </div>
            <br>
            <div id="server-cards">
                <h3 class="dash-h3">Choose a Server to Manage!</h3>
                <div class="s-cards-start">
                    <div class="cards-final">
                        <% guilds.forEach(guild => { %>
                            <%- include('partials/guild', { guild, permissions }) -%>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Footer -->
        <div id="footer">
            <%- include('partials/footer') -%>
        </div>
    </div>

    <div id="no-body" style="display: none;">
        <h1 style="color: white;">Mobile/Tablet view are not supported for the moment. If you wish this to be enabled, contact with TheGreench.</h1>
    </div>
</body>