<%- include('partials/header') -%>
<link rel="stylesheet" href="/stylesheets/server-settings.css">

<body>
    <!-- Main Container-->
    <div id="main-container">
        <!-- Navbar -->
        <%- include('partials/nav') -%>

        <!-- Body -->
        <div id="body" class="container">
            <div class="dash-header">
                <h1>Welcome to the <%= guild_name %>'s Server Settings!</h1>
            </div>
            <br>
        </div>
    </div>

    <div id="no-body" style="display: none;">
        <h1 style="color: white;">Mobile/Tablet view are not supported for the moment. If you wish this to be enabled, contact with TheGreench.</h1>
    </div>
</body>